	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/05/2018 10:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-car-1 {
  background-image: url(../images/brand/book.png);
  background-size: contain; /* Ensures the image fits within the element */
  background-repeat: no-repeat;
  display: inline-block; /* Ensures proper spacing */
  width: 80px; /* Set the desired width */
  height: 80px; /* Set the desired height */
}

.flaticon-car-repair {
  background-image: url(../images/brand/book.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.flaticon-car {
  background-image: url(../images/brand/book.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.flaticon-arrow-down-angle {
  background-image: url(../images/brand/book.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
}
